/**
 *     This file is part of the Squashtest platform.
 *     Copyright (C) 2011 - 2020 Henix
 *
 *     See the NOTICE file distributed with this work for additional
 *     information regarding copyright ownership.
 *
 *     This is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU Lesser General Public License as published by
 *     the Free Software Foundation, either version 3 of the License, or
 *     (at your option) any later version.
 *
 *     this software is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU Lesser General Public License for more details.
 *
 *     You should have received a copy of the GNU Lesser General Public License
 *     along with this software.  If not, see <http://www.gnu.org/licenses />.
 */
@import "css/theme.css";

.keywords {
  color: red;
}

.resources {
  color: blue;
}

.resource-type {
  color: orange;
}

.converter-name {
  color: hotpink;
}

.macros {
  color: brown;
}

.phases {
  color: green;
}

.comments {
  color: gray;
}

.image-container {
    overflow: auto;
    margin-bottom: 24px;
}

.image-container > img {
    max-width: max-content;
}

@media screen and (min-width: 770px) {
    .wy-nav-content {
        max-width: 68vw !important;
    } 
    .document {
        min-height: 72vh !important;
    }
}

